<!-- PAGE CONTATO COMPONENT -->

<div class="position-contato">
  <div class="position-tittle-contato">
    <h3 class="tittle-contato">CONTATO</h3>
  </div>
  <!-- POSITION FORM CONTATO -->
  <div class="position-form-contato">
    <!-- FORM -->
    <form>
      <!-- NOME -->
      <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Nome</label>
          <div class="col-sm-8">
            <input type="name" class="form-control" id="colFormLabel" placeholder="Nome">
          </div>
      </div>
      <!-- END NOME -->
      <!-- E-MAIL -->
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="colFormLabel" placeholder="E-mail">
        </div>
      </div>
      <!-- END E-MAIL -->
      <!-- ASSUNTO -->
      <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Assunto</label>
          <div class="col-sm-8">
            <input type="assunto" class="form-control" id="colFormLabel" placeholder="Assunto">
          </div>
      </div>
      <!-- END ASSUNTO -->
      <!-- TELEFONE -->
      <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Telefone</label>
          <div class="col-sm-8">
            <input type="telefone" class="form-control" id="colFormLabel" placeholder="Telefone">
          </div>
      </div>
      <!-- END TELEFONE -->
      <!-- TEXTO -->
      <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Mensagem</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensagem"></textarea>
            </div>
      </div>
      <!-- END TEXTO -->
      <!-- BUTTON SEND -->
      <div class="position-button-submit">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
      <!-- END BUTTON SEND -->
    </form>
    <!--END FORM-->
  </div>
</div>
