<div class="position-tittle-sobre">
<h3 class="tittle-sobre">
  SOBRE A PLATS
</h3>
</div>

<div class="content-sobre">
  <p class="paragrafo-sobre">
    A PLATS (Plataforma Tecnológica de Saúde) foi desenvolvida para integrar o Centro Universitário UniFBV Wyden que compõe um núcleo de especialitas na área de saúde da unidade,  
    composto de infraetrutura adequada para as ações de pesquisas acadêmicas na área de saúde aos alunos da instituição e oferecer à outras instituições, públicas e privadas, 
    acesso aos equipamentos e técnicas através de uma plataforma multiusuário. No cenário nacional o sistema de plataformas economia de custo, tempo e eficiênciade de oferta, 
    fez com que surgisse a PLATS que foi desenvolvida em conjunto com os alunos de T.I (Tecnológia da Informação) da instituição UniFBV, dos cursos de Sistemas de Informação e Ciências da Computação sendo eles(as)
    Marina Ponstes(Gerente de Projetos), Douglas Cândido(Desenvolvedor), Filipe Falcão(Desenvolvedor) e Lucas de Andrade(Desenvolvedor, Web Designer).
    Inicialmente a Plataforma disponibiliza analises Microscópicos de Fluorescência e Biologia Molecular, com isso é possível submeter propostas de analises através do site.
  </p>
</div>