<!-- PAGE APP COMPONENT  -->

<div class="position-menu">
  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="/home" class="navbar-brand">
            <img src="https://i.imgur.com/7eUeOdc.png" height="28" alt="PLATS">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav text-nav">
                <a routerLink="/" class="nav-item nav-link font-weight-bold ">HOME</a>
                <a routerLink="/sobre" class="nav-item nav-link font-weight-bold">SOBRE</a>
                <a routerLink="/servicos" class="nav-item nav-link font-weight-bold">SERVIÇOS</a>
                <a routerLink="/contato" class="nav-item nav-link font-weight-bold">CONTATO</a>
                <!--<a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>-->
            </div>
            <div class="navbar-nav ml-auto">
                <a routerLink="/login" class="nav-item nav-link font-weight-bold margin-login">LOGIN</a>
                <a routerLink="/cadastro" class="nav-item nav-link font-weight-bold nav-cadastro">CADASTRE-SE</a>
            </div>
        </div>
    </nav>
  </div>
</div>
<!-- Router-Outlet -->
<div class="conteudo">
  <router-outlet></router-outlet>
</div>
<!-- ==  == -->