<!-- ETAPA 1 -->
<div class="conteudo-flex">
    <div class="possition-text-plats">
      <h1 class="text-plats">Plataforma Tecnológica <br/>de Saúde<br/>UniFBV Wyden</h1>
      <p class="text-plats-discretion">Uma forma objetiva para fazer analises clínicas.</p>
      <div class="position-button-home">
        <a routerLink=""><button class="ripple">Saiba mais</button></a>
      </div>
    </div>
    <div class="position-home-plats"><img src="https://i.imgur.com/GXWll2u.png"></div>
    <div class="effect-bg"><img src="https://i.imgur.com/7zbzioQ.png"></div>
</div>

<!-- ETAPA 2 -->
<div class="position-p2">
  <h4 class="text-p2">Fácil de usar, acompanhe o andamento das suas amostras</h4>
</div>
<div class="position-q2">
  <h6 class="text-q2">Fácil visualização das analises e status do processo, o painel de amostras permite que você <br/>visualize e tenha os detalhes do resultado.</h6>
</div>

<div class="position-tipos">
  <div class="centralize">
    <div class="tipo">
      <div class="img-analise"><img src="https://i.imgur.com/77xPxTp.png"></div>
      <h6 class="text-analise">Analises</h6>
      <p class="paragraf-tipo">Imunofluorescência</p>
    </div>
    <div class="tipo">
        <div class="img-custo"><img src="https://i.imgur.com/ldYa0St.png"></div>
        <h6 class="text-custo">Custos</h6>
        <p class="paragraf-tipo">Serviço gratuito</p>
    </div>
    <div class="tipo">
        <div class="img-cronograma"><img src="https://i.imgur.com/g0oIXBD.png"></div>
        <h6 class="text-cronograma">Cronograma</h6>
        <p class="paragraf-tipo">Analise ágil, resultado disponível em plataforma digital</p>
    </div>
  </div>
</div>

<!-- ETAPA 3 -->
<div class="position-faixa">
  <div class="faixa">
    <div class="position-text-faixa">
      <h6 class="text-faixa">Confira nossos serviços</h6>
      <div class="position-button-faixa"><a routerLink="/servicos"  class="btn btn-primary btn-lg" role="button" aria-pressed="true">SAIBA MAIS</a></div>
      <!--<div class="position-button-faixa"><button type="button" class="btn btn-primary btn-lg">SAIBA MAIS</button></div>-->
    </div>
  </div>
</div>

<!-- ETAPA 4 -->
<div class="position-p2">
    <h4 class="text-p2">Seus exames mais simples e disponível em plataforma digital?</h4>
</div>
<div class="position-q2">
    <h6 class="text-q2">A Plataforma Tecnológica conta com levantamento de dados por amostra, quantidade de amostras cadastradas, 
        <br/>resultados, tecnicas utilizadas, tipos de exames, tudo isso e muito mais você pode conferir...</h6>
</div>